:root {
  --primary: #054F9E;
  --secondary: #EB1F28;
  --neutral-dark: #2B2B2B;
  --neutral-light: #F7F8FA;
  --white: #FFFFFF;

  --background: var(--white);
  --foreground: var(--neutral-dark);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  color: var(--primary);
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}