 .button {
     position: fixed;
     bottom: 4vh;
     right: 30px;
     z-index: 99;
     background-color: var(--primary);
     color: var(--white);
     border: none;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;

     /* Animation Initial State */
     opacity: 0;
     pointer-events: none;
     transform: translateY(-400px) scale(0.8);
     /* Slight slide up and minor scale */

     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
     transition: all 0.6s ease-in-out;
     /* Smooth transition */
 }

 .visible {
     opacity: 1;
     pointer-events: auto;
     transform: translateY(0) scale(1);
 }

 .button:hover {
     transform: translateY(-5px);
     box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
     background-color: #be123c;
 }

 /* Hide on mobile if overlapping with others is a concern */
 @media (max-width: 768px) {
     .button {
         bottom: 10vh;
         right: 20px;
         width: 45px;
         height: 45px;
     }
 }