.cursorWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2147483647;
}

.cursorDot {
    position: fixed;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: var(--primary);
    border-radius: 50%;
    pointer-events: none;
    z-index: 2147483647;
}

.cursorRing {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    pointer-events: none;
    z-index: 2147483646;
    background-color: transparent;
    transition: width 0.2s, height 0.2s, background-color 0.2s;
}